@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
::placeholder {
    color: #fff;
    opacity: 1;
}
::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
    color: #fff;  
}
body{    
    min-height: 200vh;
    
}
.list .back-ground{
    min-height: 100vh;
    width: 100%;    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(10px); 
}
.list h1{
    color: #fff;
    z-index: 3;
}
.list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.list .content{
    position: absolute;
    display: block;
    min-height: 400px;
    width: 90%;
    background: transparent;
    z-index: 3;
    border-radius: 10px;
    padding: 20px;
}
.frame{
    display: block;
    white-space: nowrap;
    overflow-x: scroll;    
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    /* display: flex;
    flex-direction: row;     */
}
.list .content .frame .box{
    display: inline-block;
    margin-right: 10px;
    white-space: normal;
    min-height: 400px;
    width: 300px;
    margin: 5px;
    background: linear-gradient(to bottom right, #9398f0, #bb94f5, #DD93E7);
    border-radius: 5px;
    text-align: center;
}
.list .content .box img{
    height: 350px;
    width: 100%;
    padding: 10px;
    cursor: pointer;  
    transition: 0.5s;
    border-radius: 15px;
}
.list .content .box img:hover{
    transform: scale(1.07, 1.1);
}
.list .content .box a{
    font-size: 24px;
    text-decoration: none;
     
}
.header{
    position: fixed;
    display: flex;
    width: 100%;
    font-size: 24px;
    z-index: 4;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    
}
.header.sticky{
    background: #000;
    filter: invert(1);
    box-shadow: 0 0 10px #fff;
}

.header .nav{
    display: flex;
}

.header .nav a{
    text-decoration: none;
    margin-right: 70px;
}

.header .search{
    padding: 10px;    
}
.header .search .form-search{
    display: flex;
}

.header .search input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;    
    box-shadow: none;
    padding: 0 10px;
    margin-bottom: 5px;
}

.search .line{
    width: 100%;
    background: #fff;
    height: 2px;    
}
.fa-solid{
    float: right;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer .contact{
    display: flex;
    flex-direction: column;
}
.footer .backPage{
    min-height: 50vh;
    width: 100%;
    background-image: url(../img/5a668ea2a9d3d.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(10px); 
}
.footer .contact{
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    padding: 20px;
}
.footer .contact a{
    font-size: 36px;
    text-decoration: none;    
    margin: 10px;
}